html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="checkbox"]{
    background-color: aqua;
    border: solid 2px black;
    width: 20px;
    height: 20px;
    display: block;
}